.nav .header-extend-menu > a {
  display: block;
}

.nav .header-extend-menu > .tooltip {
  display:none!important;
}

.no-touch .nav .header-extend-menu:hover > a:first-child,
.nav .header-extend-menu.expand > a:first-child {
  background-color: rgb(119, 119, 119);
  color: #fff;
}

.nav .header-extend-menu {
  max-height: 50px;
}

.nav .header-extend-menu > a:nth-of-type(n + 2) {
  display:none;
  width: 100%;
  background-color: rgb(119, 119, 119);
  color: #fff;
  left: 0;
  z-index: 1;
}

.nav .header-extend-menu.expand > a:nth-of-type(n + 2),
.no-touch .nav .header-extend-menu:hover > a:nth-of-type(n + 2) {
  display: block;
}

.nav .header-extend-menu>a:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav .header-extend-menu > a:first-child > span:after {
  content: '  \f078';
  font: normal normal normal 10px/1 FontAwesome;
  display: inline-block;
  margin-right: -10px;
  margin-left: 10px;
}

.nav .header-extend-menu .fa-doesnt-exist, .nav .header-extend-item .fa-doesnt-exist {
  display: none;
}
